/*
CSS for my startpage. Mainly gathered from W3Schools.

Comments are so I don't forget what things do.
*/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1a1b29;
}

#search-box {
    /* moves element to "center" of page */
    margin-top: 150px;
    text-align: center;
}

#search-bar {
    background-color: transparent;
    border: none; /* remove border from default HTML search bar */
    border-bottom: 2px solid white; /* add bar line */
    outline: none; /* remove default element focus border*/

    /* adjust element */
    padding-bottom: 5px;
    width: 600px;
    margin-left: 60px;

    /* text changes */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    margin: 0px;
}
